<title>Sistema CAPS - Pacientes</title>

<h4 class="text-center mt-4 mb-2">Lista de Pacientes</h4>

<div class="container shadow rounded pb-3">
    <%= render 'search_form' %>

    <table class="table table-hover mt-2">
        <thead class="">
            <tr class="font-weight-bold">
                <td>N.º de Prontuário</td>
                <td>Nome</td>
                <td>Unidade</td>
                <td>Status</td>
                <td colspan="2">
            </tr>
        </thead>

        <tbody>
            <% @patients.each do |patient| %>
                <tr>
                    <td><%= patient.medical_record_number %></td>
                    <td><%= link_to patient.name, patient %></td>
                    <td><%= patient.cnes.unity %>
                    <td><%= patient.status %>
                    <td><%= link_to '', edit_patient_path(patient), class: 'btn btn-outline-primary fas fa-edit fa-sm', title: 'Editar paciente' %></td>
                    <td><%= link_to '', patient, method: :delete, class: 'btn btn-outline-danger fas fa-trash-alt fa-sm', 
                    title: 'Deletar paciente', data: { confirm: 'Tem certeza que deseja deletar o paciente?' } %></td>
                </tr>
            <% end %>
        </tbody>
    </table>

    <div class="row justify-content-around">
        <div class="col mt-2">
            <%= page_entries_info @patients, entry_name: 'pacientes' %>
        </div>
        <div class="col align-self-end">
            <%= paginate @patients %>
        </div>
    </div>
</div>