<h4 class="text-center mt-4 mb-2">Informações do Paciente</h4>

<div class="container shadow rounded">
    <div class="text-secondary text-center pt-3"><h6><strong>FICHA DO PACIENTE N.º <%= @patient.medical_record_number %></strong></h6></div>
    <hr class="mb-2 border"/>

    <div class="row justify-content-center mb-2">
        <div class="col-4">
            <div class="text-center"><strong>Nome</strong></div>
            <div class="text-center"><%= @patient.name %></div>
        </div>
        <div class="col-4">
            <div class="text-center"><strong>Gênero</strong></div>
            <div class="text-center"><%= @patient.gender %></div>
        </div>
        <div class="col-4">
            <div class="text-center"><strong>Estado Civil</strong></div>
            <div class="text-center"><% if @patient.marital_status.nil? %><div class="mb-4"></div><% else %><%= @patient.marital_status %><% end %></div>
        </div>
    </div>

    <hr class="mb-2"/>

    <div class="row justify-content-center mb-2">
        <div class="col-4">
            <div class="text-center"><strong>Data de Nascimento</strong></div>
            <div class="text-center"><%= @patient.birthdate %></div>
        </div>
        <div class="col-4">
            <div class="text-center"><strong>Data de Admissão</strong></div>
            <div class="text-center"><%= @patient.admission_date %></div>
        </div>
        <div class="col-4">
            <div class="text-center"><strong>Idade</strong></div>
            <div class="text-center"><%= @patient.age %> anos</div>
        </div>
    </div>

    <hr class="mb-2"/>

    <div class="row justify-content-center mb-2">
        <div class="col-4">
            <div class="text-center"><strong>Nome do Pai</strong></div>
            <div class="text-center"><% if @patient.father_name.nil? %><div class="mb-4"></div><% else %><%= @patient.father_name %><% end %></div>
        </div>
        <div class="col-4">
            <div class="text-center"><strong>Nome da Mãe</strong></div>
            <div class="text-center"><% if @patient.mother_name.nil? %><div class="mb-4"></div><% else %><%= @patient.mother_name %><% end %></div>
        </div>
        <div class="col-4">
            <div class="text-center"><strong>ACS</strong></div>
            <div class="text-center"><%= @patient.agent.name %></div>
        </div>
    </div>

    <hr class="mb-2"/>

    <div class="row justify-content-center mb-2">
        <div class="col-4">
            <div class="text-center"><strong>RG</strong></div>
            <div class="text-center"><%= @patient.rg %></div>
        </div>
        <div class="col-4">
            <div class="text-center"><strong>CPF</strong></div>
            <div class="text-center"><%= @patient.cpf %></div>
        </div>
        <div class="col-4">
            <div class="text-center"><strong>Cartão SUS</strong></div>
            <div class="text-center"><%= @patient.sus_card %></div>
        </div>
    </div>

    <hr class="mb-2"/>

    <div class="row justify-content-center mb-2">
        <div class="col-4">
            <div class="text-center"><strong>Endereço</strong></div>
            <div class="text-center"><%= @patient.adress %></div>
        </div>
        <div class="col-4">
            <div class="text-center"><strong>Fone</strong></div>
            <div class="text-center"><% if @patient.phone.nil? %><div class="mb-4"></div><% else %><%= @patient.phone %><% end %></div>
        </div>
        <div class="col-4">
            <div class="text-center"><strong>CNES - Unidade</strong></div>
            <div class="text-center"><%= @patient.cnes.unity %></div>
        </div>
    </div>

    <hr class="mb-2"/>

    <div class="row justify-content-center mb-2">
        <div class="col-4">
            <div class="text-center"><strong>Substâncias Psicoativas</strong></div>
            <div class="text-center"><%= @patient.psychoative_substances.map(&:name).join('; ') %></div>
        </div>
         <div class="col">
            <div class="text-center"><strong>CID-10</strong></div>
            <div class="text-center"><%= @patient.cid10s.map(&:code).join('; ') %></div> 
        </div>
         <div class="col-4">
            <div class="text-center"><strong>Status</strong></div>
            <div class="text-center"><%= @patient.status %></div>
        </div>
    </div>

    <hr class="mb-3"/>

    <div class="text-center pb-3">
        <%= link_to ('Voltar'), patients_path, class: 'btn btn-dark shadow-sm', title: 'Voltar para tabela de pacientes' %>
        <%= link_to ('Editar'), edit_patient_path(@patient), class: 'btn btn-primary shadow-sm', title: 'Editar ficha do paciente' %>
    </div>
</div>
