<title>Sistema CAPS - Pacientes</title>

<h4 class="text-center mt-4 mb-2">Classificação Estatística Internacional de Doenças e Problemas Relacionados com a Saúde</h4>

<div class="container shadow rounded pb-3">
    <%= render 'search_form' %>

    <table class="table table-hover mt-2">
        <thead class="">
            <tr class="font-weight-bold">
                <td>Código</td>
                <td>Descrição</td>
                <td colspan="2">
            </tr>
        </thead>

        <tbody>
            <% @cid10s.each do |cid10| %>
                <tr>
                    <td><%= cid10.code %></td>
                    <td><%= cid10.description %></td>
                </tr>
            <% end %>
        </tbody>
    </table>

    <div class="row justify-content-around">
        <div class="col mt-2">
            <%= page_entries_info @cid10s, entry_name: 'doenças' %>
        </div>
        <div class="col align-self-end">
            <%= paginate @cid10s %>
        </div>
    </div>
</div>